<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sts.dao.ImagesMapper" >
  <resultMap id="BaseResultMap" type="com.sts.pojo.Images" >
    <id column="images_id" property="imagesId" jdbcType="INTEGER" />
    <result column="path1" property="path1" jdbcType="VARCHAR" />
    <result column="path2" property="path2" jdbcType="VARCHAR" />
    <result column="path3" property="path3" jdbcType="VARCHAR" />
    <result column="path4" property="path4" jdbcType="VARCHAR" />
    <result column="path5" property="path5" jdbcType="VARCHAR" />
  </resultMap>
  
</mapper>