<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sts.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.sts.pojo.Product" >
    <id column="good_id" property="goodId" jdbcType="INTEGER" />
    <result column="good_name" property="goodName" jdbcType="VARCHAR" />
    <result column="good_type" property="goodType" jdbcType="INTEGER" />
    <result column="good_price" property="goodPrice" jdbcType="DOUBLE" />
    <result column="good_describe" property="goodDescribe" jdbcType="VARCHAR" />
    <result column="good_image" property="goodImage" jdbcType="VARCHAR" />
    <result column="good_time" property="goodTime" jdbcType="TIMESTAMP" />
    <result column="good_click" property="goodClick" jdbcType="INTEGER" />
    <result column="good_status" property="goodStatus" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="end_time" property="endTime"/>
  </resultMap>
  
  <sql id="baseColumn">
  		good_id, good_name, good_type, good_price, good_describe, good_image, good_time, good_click, 
    	good_status, user_id, category_id, end_time
  </sql>
  
  <select id="queryListByTime" resultMap="BaseResultMap">
  	select 
  		<include refid="baseColumn"/>
  	from product a 
  	where a.good_status = 1
  	and a.good_type = 1
  	order by a.good_time desc
  </select>
  
  <select id="queryListByCid" parameterType="java.lang.String" resultMap="BaseResultMap" >
  	select 
  		<include refid="baseColumn"/>
  	from product a 
  	where a.category_id = #{cid} 
  		and a.good_status = 1
  		and a.good_type = 1
  	order by a.good_click desc
  </select>
  
   <select id="queryListByName" parameterType="java.lang.String"  resultMap="BaseResultMap">
  	select 
  		<include refid="baseColumn"/>
  	from product a where a.good_name like concat('%', #{goodName}, '%') 
  	and a.good_status = 1
  	and a.good_type = 1
  	order by a.good_click desc
   </select>
   
   <select id="queryByGoodId" parameterType="java.lang.String"  resultMap="BaseResultMap">
   	select 
   		<include refid="baseColumn"/>
   	from product a where a.good_id = #{goodId}
   </select>
  
  <select id="queryByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	SELECT
  		p.good_id,
		p.good_name,
		p.good_price,
		p.good_image,
		p.good_status
	FROM
		shopcart sc
	JOIN product p ON p.good_id = sc.good_id
	where sc.user_id = #{userId}
  </select>
  
  <update id="updateGoodStatus" parameterType="Product">
  	update product a 
  		set a.good_status = #{goodStatus}
  	where 
  		a.good_id = #{goodId}
  </update>
  
  <insert id="saveProduct" parameterType="com.sts.pojo.Product" >
    insert into product (good_id, good_name, 
      good_price, good_describe, good_image, 
      user_id, category_id, good_type, end_time)
    values (#{goodId,jdbcType=INTEGER}, #{goodName,jdbcType=VARCHAR}, 
      #{goodPrice,jdbcType=DOUBLE}, #{goodDescribe,jdbcType=VARCHAR}, #{goodImage,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER},
      #{goodType}, #{endTime})
  </insert>
  
  <select id="queryPublishByUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select 
  		<include refid="baseColumn"/>
  	from product a where a.user_id = #{userId}
  </select>
  
  <update id="updateGoodClick">
  	update product a set a.good_click = a.good_click + 1 
  	where a.good_id = #{goodId}
  </update>
  
  <select id="queryListByType" resultMap="BaseResultMap">
  	select 
  		<include refid="baseColumn"/>
  	from product a 
  	where 
	  	a.good_type = 2
	  	and a.good_status = 1 
	  	order by a.good_click desc
  </select>
  
  <select id="queryListByEndTime" resultMap="BaseResultMap">
  	select 
  		<include refid="baseColumn"/>
  	from product a 
  	where 
  		a.end_time <![CDATA[ <= ]]> now()
  		and a.good_status = 1
  		and a.good_type = 2
  </select>
  
</mapper>