<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sts.dao.ShopcartMapper" >
  <resultMap id="BaseResultMap" type="com.sts.pojo.Shopcart" >
    <id column="shopcart_id" property="shopcartId" jdbcType="INTEGER" />
    <result column="buyNum" property="buynum" jdbcType="INTEGER" />
    <result column="good_id" property="goodId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="baseColumn" >
    shopcart_id, buyNum, good_id, user_id
  </sql>
  
  <insert id="addShopcart" parameterType="com.sts.pojo.Shopcart">
  	insert into shopcart (shopcart_id, buyNum, good_id, 
      user_id)
    values (#{shopcartId,jdbcType=INTEGER}, #{buynum,jdbcType=INTEGER}, #{goodId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER})
  </insert>
  
  <select id="queryIsExist" parameterType="com.sts.pojo.Shopcart" resultType="java.lang.Integer">
  	select count(*) from shopcart a 
  		where 
  	a.good_id = #{goodId}
  	and a.user_id = #{userId}
  </select>
  
  <delete id="deleteShopcart" parameterType="com.sts.pojo.Shopcart">
  	delete from shopcart 
  	where 
  		good_id = #{goodId}
  		and user_id = #{userId}
  </delete>
</mapper>