<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sts.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.sts.pojo.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
    <result column="user_credit" property="userCredit" jdbcType="DOUBLE" />
    <result column="user_status" property="userStatus" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="baseColumn">
  	user_id, user_name, user_phone, user_pwd, user_credit, user_status
  </sql>
  
  <select id="checkUsername" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select count(*) from user where user_name = #{username}
  </select>
  
  <select id="checkPhoneNum" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select count(*) from user where user_phone = #{telephone}
  </select>
  
  <select id="login" parameterType="User" resultMap="BaseResultMap">
  	select 
  		<include refid="baseColumn" />
  	 from user where 
  		(user_name = #{userName} or user_phone = #{userName})
  	and user_pwd = #{userPwd}
  </select>
  
  <insert id="saveUser" parameterType="com.sts.pojo.User">
  	insert into user 
  		(user_id, user_name, user_phone, user_pwd, user_credit, user_status)
    values 
    	(#{userId}, #{userName}, #{userPhone}, #{userPwd}, #{userCredit}, #{userStatus})
  </insert>
  
  <select id="checkOldPwd" parameterType="com.sts.pojo.User" resultType="java.lang.Integer">
  	select count(*) from user a  where a.user_id = #{userId} and a.user_pwd = #{userPwd}
  </select>
  
  <select id="queryByUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select 
  		<include refid="baseColumn"/>
  	from user a 
  	where a.user_id = #{userId}
  </select>
  
  <select id="queryUserList" resultMap="BaseResultMap">
  	select 
  		<include refid="baseColumn"/>
  	from user a
  </select>
  
  <update id="updateUserStatus" parameterType="com.sts.pojo.User">
  	update user a set 
  		a.user_status = #{userStatus}
  	where a.user_id = #{userId}
  </update>
</mapper>